<h3 
[ngClass]="{onlineClass: serverStatus === 'offline'}">
    Server Status is {{serverStatus}}
</h3>
<div class="panel panel-primary">
    <div class="panel-heading">
        Product App
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2">
                {{title}}
            </div>
            <div class="col-md-4">
                <input type="text" [(ngModel)]="userInput"/>
            </div>
        </div>
        <h4>{{userInput}}</h4>
        <div class="row">
            <div class="col-md-6">
                <h4>{{OutStr}}{{(products | filterProduct:userInput).length}}</h4>
            </div>
        </div>
        {{showImage}}
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            <button class="btn btn-success"
                                (click)="toggleImage()">
                                   {{showImage ? 'Hide Image' : 'Show Image'}}
                            </button>
                        </th>
                        <th>Name</th>
                        <th>Code</th>
                        <th>Date</th>
                        <th>Price</th>
                        <th>Rating</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of products | filterProduct:userInput">
                       
                        <td>
                            <img [src]="product.imageUrl"
                            *ngIf="showImage"/>
                        </td>
                        <td style="color:brown">{{product.productName | MyUpper:'upper'}}</td>
                        <td>{{product.productCode | MyUpper:'lower'}}</td>
                        <td>{{product.releaseDate | date}}</td>
                        <td [ngStyle]="{'background-color':product.price<20?'slateblue':'palevioletred'}">
                            {{product.price | discount:'10' | currency:'GBP' }}
                        </td>
                        <td>{{product.starRating}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>